*{
  margin:0;
  padding:0;
  box-sizing: 0;

}

body{
background-image: url("https://previews.123rf.com/images/lyudmilatetera/lyudmilatetera1802/lyudmilatetera180200181/95460367-drops-of-water-on-a-glass-of-beer-background-texture.jpg");
background-size: cover;
background-position: center;
height: 100vh;
}

a{
  text-decoration: none;
  color: aqua;
}